
#map{

    margin: auto;
}

#main{
     padding: 10px;
     display: block;
    background-color: black;
 }
canvas{
    margin: 0 auto;
}

#tab2{

    align: center;
    align-items: center;
    margin: auto;
    border: 5px solid #344e4f;
    background-color: white;
    box-shadow: 8px 8px 5px black;

}

#head1{
    text-align: left;
    color: red;
}
#myChart{

    background-color: whitesmoke;
    margin: auto;
    border: 5px solid #344e4f;
    box-shadow: 8px 8px 5px black;

}
#myChart2{
        background-color: whitesmoke;
    border: 5px solid #344e4f;
    box-shadow: 8px 8px 5px black;
}
#myChart4{
    background-color: whitesmoke;
    border: 5px solid #344e4f;
    box-shadow: 8px 8px 5px black;
}
#bold{
    color: black;
    font-weight: 700;
    font-size:35px;
}
#bold2{
    color: gray;
    font-weight: 700;
    font-size:35px;
}
#bold3{
    color: #8ACA2B;
    font-weight: 700;
    font-size:35px;
}
