#map{
    width: 800px;
    height: 800px;
    margin: auto;
}
#myChart{
    width: 1000px;
    height: 1000px;
    border: 5px solid #344e4f;


}
#main{
    margin: 0 auto;
}
canvas{
    margin: 0 auto;
}

#tab2{

    align: center;
    align-items: center;
    margin: auto;
    border: 5px solid #344e4f;
    background-color: white;
}

#tab1{

    align: center;
    align-items: center;
    margin: auto;
    border: 3px solid black;
}
#head1{
    text-align: left;
    color: red;
}
#myChart{
    background-color: white;
    align-self: center;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: auto;
}
