
#map{
    width: 800px;
    height: 800px;
    margin: auto;
}

#main{

     padding: 10px;
     max-height: 10000px;
     display: block;
 }
canvas{
    margin: 0 auto;
}

#tab2{

    align: center;
    align-items: center;
    margin: auto;
    border: 5px solid #344e4f;
    background-color: white;
    box-shadow: 8px 8px 5px black;

}

#head1{
    text-align: left;
    color: red;
}
#myChart{

    background-color: whitesmoke;
    margin: auto;
    border: 5px solid #344e4f;
    box-shadow: 8px 8px 5px black;


}
#myChart2{

    background-color: whitesmoke;

    border: 5px solid #344e4f;
    box-shadow: 8px 8px 5px black;

}
